
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3><a href="@Url.Action("UserList", "User")">User list from user</a></h3>
<h3><a href="@Url.Action("UserList", "Customer")">User list from customer</a></h3>
<h3><a href="@Url.Action("Index", "Admin")">Admin page</a></h3>
<h3><a href="@Url.Action("Index", "Base")">Action not found page</a></h3>

